* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: calc(2 * 1vw);
}

p {
  font-size: calc(0.4vw + 0.4vh + 0.4vmin);
}

.grid-container {
  background-color: #fae6dd;
  display: grid;
  grid-template-columns: 0.4fr 0.12fr 0.06fr 0.12fr 0.3fr;
  grid-template-rows: 0.21fr 0.45fr 0.11fr 0.14fr 0.08fr;
  height: 100vh;
  margin: auto;
  width: 40%;
}

.grid-item {
  border: 1px solid black;
}

.grid-item-1 {
  grid-column: 1/1;
  grid-row: 1/1;
}

.grid-item-2 {
  align-items: end;
  display: grid;
  grid-column: 3 / span 2;
  grid-row: 1/1;
  height: 100%;
  justify-items: end;
  width: 100%;
}

.grid-item-3 {
  align-items: end;
  display: grid;
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
  height: 100%;
  justify-items: end;
  width: 100%;
}

.grid-item-4 {
  align-items: end;
  display: grid;
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
  height: 100%;
  justify-items: end;
  width: 100%;
}

.grid-item-5 {
  align-items: end;
  display: grid;
  grid-column: 3;
  grid-row: 5;
  height: 100%;
  justify-items: end;
  width: 100%;
}

.grid-item-6 {
  align-items: end;
  display: grid;
  grid-column: 4;
  grid-row: 4 / span 2;
  height: 100%;
  justify-items: end;
  width: 100%;
}

.grid-item-7 {
  align-items: end;
  background-color: #0f79c3;
  display: grid;
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  justify-items: end;
  width: 100%;
}

.grid-item-8 {
  align-items: end;
  background-color: #fa0f2e;
  display: grid;
  grid-column: 5;
  grid-row: 2;
  height: 100%;
  justify-items: end;
  width: 100%;
}

.grid-item-9 {
  grid-column: 1;
  grid-row: 3 / span 3;
  padding-top: 20px;
  padding-left: 20px;
}

.grid-item-10 {
  align-items: center;
  display: flex;
  grid-column: 5;
  grid-row: 4;
  justify-content: center;
}

.triangle {
  width: 100%;
  height: 95%;
  background: linear-gradient(to left bottom, transparent 49.5%, black 50%);
}

.triangle2 {
  width: 100%;
  height: 100%;
  background-color: black;
  background: linear-gradient(to right top, transparent 49.5%, black 50%);
}
.rectangle {
  width: 100%;
  height: 100%;
  background-color: black;
}
